html {
  background-color: rgb(17, 17, 17);
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: auto;
  background-color: rgb(17, 17, 17);
}

body {
  background-color: rgb(250, 249, 246);
  margin: 0px;
}
